<div ng-controller="newCandidatesController">


    <div style="padding-top:20px" class="panel-group">
        <div class="panel panel-default" style="margin-bottom:10px" ng-repeat="candidate in newCandidates">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-8">
                        <span class="fa fa-child"></span>  <a ui-sref="dashboard.candidate({candidateId:candidate.id})"> {{candidate.name}}</a>
                    </div>
                    <div class="col-md-3">
                        <div class="dropdown">
                            <button ng-class="{'btn btn-primary dropdown-toggle':checkPrimary(candidate.status) ,'btn btn-success dropdown-toggle':checkSuccess(candidate.status),'btn btn-danger dropdown-toggle':checkDanger(candidate.status)}" type="button" data-toggle="dropdown" ng-disabled="candidate.status=='CV Reject' || candidate.status=='Duplicate CV' || candidate.status=='Candidate Backout' || candidate.status=='Candidate Rejected'">
                                {{candidate.status}}
                                <span class="caret"></span>
                            </button>

                            <ul class="dropdown-menu">

                                <li ng-if="candidate.status=='Awaiting Client Input'" ng-repeat="x in stateA"><a ui-sref="dashboard.newCandidates" ng-click="candidate.status=x">{{x}}</a></li>
                                <li ng-if="candidate.status=='CV Shortlist' || candidate.status=='Interview Reschedule'" ng-repeat="x in stateB"><a ui-sref="dashboard.newCandidates" data-toggle="modal" data-target="#myModal{{candidate.id}}">{{x}}</a></li>
                                <li ng-if="candidate.status=='CV on Hold'" ng-repeat="x in stateC"><a ui-sref="dashboard.newCandidates" ng-click="candidate.status=x">{{x}}</a></li>
                                <li ng-if="candidate.status=='Interview Scheduled'" ng-repeat="x in stateD"><a ui-sref="dashboard.newCandidates" ng-click="candidate.status=x">{{x}}</a></li>
                                <li ng-if="candidate.status=='Confirm Interview'" ng-repeat="x in stateE"><a ui-sref="dashboard.newCandidates" ng-click="candidate.status=x">{{x}}</a></li>
                                <li ng-if="candidate.status=='Candidate Selected'" ng-repeat="x in stateF"><a ui-sref="dashboard.newCandidates" ng-click="candidate.status=x">{{x}}</a></li>
                                <li ng-if="candidate.status=='Candidate Joined'" ng-repeat="x in stateG"><a ui-sref="dashboard.newCandidates" ng-click="candidate.status=x">{{x}}</a></li>
                                <li ng-if="candidate.status=='Payment Pending'" ng-repeat="x in stateI"><a ui-sref="dashboard.payment">{{x}}</a></li>

                            </ul>
                        </div>

                    </div>

                    <div id="myModal{{candidate.id}}" class="modal fade" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Schedule Interview</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="container">
                                        <div class="row">
                                            <div class='col-sm-6'>
                                                <div class="form-group">
                                                    <label>Date</label>
                                                    <div class='input-group date calender'>
                                                        <input type='text' class="form-control" id="date{{candidate.id}}" />
                                                        <span class="input-group-addon">
                                                            <span class="glyphicon glyphicon-calendar"></span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="comment">Additional Details:</label>
                                                    <textarea class="form-control" id="comment{{candidate.id}}"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="candidate.status='Interview Scheduled';validate(candidate.id)">Confirm</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="col-md-1">
                        {{candidate.time}}
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3">
                        <span class="fa fa-bookmark"></span> {{candidate.designation}}
                    </div>
                    <div class="col-md-3">
                        <span class="fa fa-briefcase"></span> {{candidate.currentCompany}}
                    </div>
                    <div class="col-md-3">
                        <span class="fa fa-graduation-cap"> </span>   {{candidate.qualification}}
                    </div>
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-1">
                        score
                    </div>
                    <div class="col-md-1">
                        <a ui-sref="dashboard.downloadCV({candidateId:candidate.id})" class="btn pull-right text-success fa fa-lg fa-download"></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <span class="fa fa-map-marker"></span>  {{candidate.location}}
                    </div>
                    <div class="col-md-3">
                        <span class="fa fa-line-chart"></span>   {{candidate.experience}}
                    </div>
                    <div class="col-md-3">
                        <span class="fa fa-rupee"></span>    {{candidate.currentCTC}}
                    </div>
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-1">

                    </div>
                    <div class="col-md-1">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('.calender').datetimepicker();
    });
</script>

