<div ng-controller="positionsController">


    <div class="row">

        <div style="margin-top:40px">
            <div class="col-lg-12">

                <span style="font-size:30px">Positions</span>

            </div>




        </div>


    </div>
    <hr>

    <table class="table table-bordered table-hover table-responsive" cellpadding="2">

        <thead>
            <tr>
                <th>Client</th>
                <th>Job Title</th>
                <th>Location</th>
                <th>CTC(Lacs)</th>
                <th>Priority</th>
                <th>Score</th>
                <th>Accept</th>
                <th>Reject</th>

            </tr>
        </thead>
        <tr style="color:blueviolet" ng-repeat="job in jd">

            <td>{{job.client}} </td>
            <td>
            <a ui-sref="dashboard.viewJd({jdId:job.id})">{{job.position}}</a>  
            </td>

            <td>{{job.location}}</td>
            <td>{{job.ctc}}</td>
            <td>{{job.priority}}</td>
            <td>{{job.score}}</td>
            <td><input type="radio" name="{{job.id}}status" value="Accepted" ng-model="job.jdStatus" /></td>
            <td><input type="radio" name="{{job.id}}status" value="Rejected" ng-model="job.jdStatus" /></td>
            <!--<td><button type="button" ng-click="printJobs(job.id)" >click</button> </td>-->
        </tr>


    </table>

</div>
<!--if any problem ,uncomment the file angular-bootstrap-toggle.css-->
